.leaflet__box {
  position: relative;
}

// .leaflet__overlay {

//   &::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background-image: linear-gradient(to right, #242424 0%, black 100%);
//     opacity: .7; 
//     z-index: 1;
//   }
// }

.leaflet-container {
    height: 400px;
    width: 100%;
    // -webkit-filter: saturate(0%) grayscale(100%) brightness(69%) contrast(1000%);
}

.leaflet__content {
  z-index: 2;
  position: absolute;
  top: 0;
  background-color: #242424;
  box-shadow: 0 5px 20px 0 rgba(51,51,51,.35);
  color: #fff;
  left: 50%;
  top: -50px;
  transform: translate(-50%,-50%);
}