.shape1,
.shape2 {
  stroke-dasharray: 320;
  stroke-width: 4px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition-timing-function: linear;
  transition: stroke-dashoffset 3s, stroke-dasharray 4s;
}
.shape1 {
  stroke-dashoffset: 320;
}
.shape2 {
  stroke-dashoffset: -320;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  position: relative;
  display: none;

}

.menu {
  position: fixed;
  right: 13px;
  top: 160px;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  padding: 19px;
  z-index: 150;

  &--desktop {
    @media (max-width: 850px)  {
      display: none;
    }
  }

  &--mobile {
    margin: 0;
    padding: 0;
    display: none;
    @media (max-width: 850px)  {
      left:0;
      top: 0;
      display: inline-block;
    }
  }
}

.menu__link {
  display: flex;
  align-items: center;
  color: #FFDC26;
}

.menu__link a {
  transform: translateX(300%);
  display: inline-block;
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 12px;
  border-radius: 50%;
  transition: all 1s linear;
  margin-right: 10px;
  margin-bottom: 10px;
  background: transparent;
  box-shadow: 0px 0px 20px 4px rgba(102, 102, 0, 0.73);
}

.menu__link span {
  vertical-align: middle;
  transform: translateX(300%);
  transition: all 1s ease-in-out;
}

.menu__link:hover > span {
    transform: translateX(0);
    display: inline-block;
    margin: 0;
}

.menu__link:hover a{
  transform: translateX(0);
}
