.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  position: relative;
  display: none;
}

.menu {
  position: absolute;
  right: 20px;
  top: 160px;
  overflow-x: hidden;
  padding: 24px 65px;
  z-index: 200;

  @media (max-width: 1180px)  {
    right: 40px;
  }

  &--desktop {
    @media (max-width: 950px)  {
      display: none;
    }
  }

  &--mobile {
    margin: 0;
    padding: 0;
    display: none;
    @media (max-width: 950px)  {
      left:0;
      top: 40px;
      display: inline-block;
      width: 100%;
    }
  }
}

.menu__link {
  &:hover div {
    transform: translateX(0);
  }

  &:hover span {
    transform: translateX(0);
  }
}

.menu__link a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
}

.menu__link div {
  transform: translateX(200px);
}

.menu__link span {
  vertical-align: middle;
  display: inline-block;
  transform: translateX(210%);
  transition: all 1s linear;
}

