.activity {
  &--mask {
    background-image: url(../../images/masks.svg);
}

  &--paintball {
    background-image: url(../../images/paintball.svg);
  }

  &--team {
    background-image: url(../../images/team.svg);
  }
}

.advantage {
  position: relative;
  padding: 20px;
  margin-top: 0;
  color: #fff;
  text-align: center;
  font-size: 0.8em;

  @media (max-width: 700px)  {
    font-size: 1em;
  }

  &::after, &::before {
    position: absolute;
    width: 105px;
    height: 46px;
    background-repeat: no-repeat;
  }

  &::after {
    content: '';
    bottom: 0;
    background-image: url(../../images/corner.svg);
    right: -70px;
  }
  
  &::before {
    content: '';
    top: 0;
    background-image: url(../../images/corner.svg);
    left: -70px;
    transform: rotate(180deg);
  }
}