.events {
    &__info {
        h2 {
            text-align: left;

            @media(max-width: 932px) {
                text-align: center;
            }
        }

        p {
            font-size: 22px;
            line-height: 36px;

            @media(max-width: 932px) {
                margin-top: 50px;
            }
        }
    }

    & > * {
        @media(max-width: 932px) {
            width: 100%;
            text-align: center;
        }
    }
}