@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

h2{
    color: blue;
}

.calendar{
    width: 690px;
    font-family: 'Montserrat', sans-serif;

}

.calendar-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #262626;
    padding: 55px;
}
.calendar-wrap{
    border-left: 1px solid #373737;
}

.page-right, .page-left{
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 30px;
    cursor: pointer;
}

.month-next, .month-prev{
    display: block;
    width: 48px;
    height: 2px;
    background-color: #fff;
    position: relative;
}

.page-right:hover .month-next,
.page-left:hover .month-prev,
.page-left:hover .month-prev:before,
.page-left:hover .month-prev:after,
.page-right:hover .month-next:before,
.page-right:hover .month-next:after{
    background-color: #ffdc26;
}


.month-prev:before{
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 2px;
    background-color: #fff;
    transform: translateY(-1.5px) translateX(-1px) rotate(-45deg);

}

.month-prev:after{
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 2px;
    background-color: #fff;
    transform: translateY(1.5px) translateX(-1px) rotate(45deg);

}

.month-next:before{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 6px;
    height: 2px;
    background-color: #fff;
    transform: translateY(-1.5px) translateX(1px) rotate(45deg);

}

.month-next:after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 6px;
    height: 2px;
    background-color: #fff;
    transform: translateY(1.5px) translateX(1px) rotate(-45deg);

}

.calendar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: #fff;
    background-color: #202020;
    border-top: 1px solid #373737;
    border-left: 1px solid #373737;
    border-right: 1px solid #373737;
}
.label-month, .label-year{
    padding: 6px;
}

.selected-month-year{
    display: flex;
}
.empty-slot{
    color: #414141;
    background-color: #202020;
    cursor: no-drop;
}

.day{
    cursor: pointer;
    background-color: #242424;
    color: #fff;
}

.day, .empty-slot{
    width: 100%;
    height: 98px;
    border-bottom: 1px solid #373737;
    border-right: 1px solid #373737;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.date-number{
    text-align: center;
}
.day:hover .date-number{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ffdc26;
    border-radius: 50%;
    color: #202020;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weekdays{
    display: flex;
    background-color: #404040;
    height: 60px;
}
.week-day{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
    box-sizing: border-box;
    color: #999;
}

.week-day:last-child{
    border-right:1px solid #373737;
}







        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
            "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
            sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div.picky-date-time-calendar__content{

}
div>.picky-date-time-calendar__table-cel{
    color: #fff;
    border-color: #373737;
    font-size: 10px;
    position: relative;
    transition: none;
}

.picky-date-time-calendar__table-cel.picky-date-time-calendar__date-item.disabled){
    background-color: #202020;
    color: #20c997;
}
div.picky-date-time-calendar__table-cel.today{
    color: #fff;
}

div.today:before{
    content: "";
    display: block;
    border-radius: 50%;
    border: 1px solid red;
    width: 28px;
    height: 28px;
    position: absolute;
    top: calc(50% - 14.5px);
    left:calc(50% - 15px);
}
div.active.today:before{
    display: none;
}


div.picky-date-time-calendar__table-row:nth-child(3):after{
    content: "";
    display: block;
    height: 50px;
    background: #404040;
}
div.picky-date-time-calendar__table-row{
    display: block;
}
span.picky-date-time-calendar__body-container{
    overflow: visible;
}

div.picky-date-time-calendar__button{
    display: none;
}

div.picky-date-time-calendar__table-caption.picky-date-time-calendar__table-cel {
    background: #404040;
    border: none;
    color: #999;
}

div.picky-date-time-calendar__table-cel.disabled{
    color: #414141;
    background: #202020;
}

span.picky-date-time-check:before{
    display: none;

}

.week {
    display: flex;
}
