
//@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');
.calendar{
  font-family: 'Hind', sans-serif;
  display: flex;
  justify-content: center;
  padding: 55px;
  min-width: 270px;
}

.page__right, .page__left{
  background: none;
  width: 5vw;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 30px;
  cursor: pointer;
  padding: 0;
  border: none;
}

.page__right{
  display: flex;
  justify-content: flex-end;
}

.month__next, .month__prev{
  display: block;
  width: 48px;
  height: 2px;
  position: relative;
}

.page__right:hover .month__next,
.page__left:hover .month__prev
//.page__left:hover .month__prev:before,
//.page__left:hover .month__prev:after,
//.page__right:hover .month__next:before,
//.page__right:hover .month__next:after
  {
  //background-color: #fff500;
}

.month__prev:before{
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 2px;
  transform: translateY(-1.5px) translateX(-1px) rotate(-45deg);

}

.month__prev:after{
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 2px;
  transform: translateY(1.5px) translateX(-1px) rotate(45deg);

}

.month__next:before{
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 6px;
  height: 2px;
  transform: translateY(-1.5px) translateX(1px) rotate(45deg);

}

.month__next:after{
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 6px;
  height: 2px;
  transform: translateY(1.5px) translateX(1px) rotate(-45deg);

}

.hidden__navigation{
  visibility: hidden;
}

.calendar_navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  max-height: 99px;
  box-sizing: border-box;
}

.label_month, .label_year{
  padding: 6px;
}

.selected__month__year{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.current-today, .current_month_day, .otherDay{
  cursor: pointer;
  position: relative;
  &:hover {
    .calendar_data_day {
      width: 5vw;
      height: 5vw;
      max-width: 50px;
      max-height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


.calendar_container{
  max-width: 720px;
  width: min-content;
}

.calendar_data_day{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-today{
  position: relative;
}
.current-today:before{
  content: "";
  display: block;
  width: 5vw;
  height: 5vw;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  position: absolute;
}



.future_day, .empty_slot, .current_month_day, .current-today, .otherDay, .checked{
  width: 8vw;
  height: 8vw;
  min-width: 40px;
  min-height: 40px;
  max-width: 105px;
  max-height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.weekdays{
  display: flex;
  height: 60px;
  max-width: 720px;
  justify-content: space-around;
  align-items: center;
}

.week {
  display: flex;
}

.week-day{
  height: 58px;
  min-width: 39px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.button__back{
  background: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.25);
  border: none;
}

.button__back:hover{
  color: rgba(255, 255, 255, 0.5);
}

.hidden__button__back{
  display: none;
}

@media (max-width: 850px) {
  .page__right, .page__left {
    margin: 0 12px;
  }
  .weekdays{
    height: 45px;
  }
  .calendar_container {
    padding: 10px;
  }
}

@media (max-width: 700px) {
  .selected__month__year{
    flex-direction: column;
    align-items: center;
  }

  .calendar{
    padding: 5px;
  }

  .label_month, .label_year, .button__back{
    padding: 2px;
  }

  .calendar_navigation{
    max-height: 70px;
  }
}

.calendar_booking {
  display: flex;
  justify-content: center;
  transition: height 5s linear;
  height: max-content;
  animation-duration: 2s;
  animation-name: block-height;
  position: marker;
}

@keyframes block-height {
  from {
    height: 0;
  }

  to {
    height: 548px;
  }
}

.checked .calendar_data_day{
  width: 5vw;
  height: 5vw;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar_order_list{
  margin: 15px;
  width: 100%;
  border-radius: 3px;
  padding: 10px 10px 0 10px;
  opacity: 0;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-name: block-opacity;
  animation-fill-mode: forwards;
  &_headline{
    text-align: center;
    font-size: 16px;
  }
  &_ul{
    margin-bottom: 0;
  }
}

@keyframes block-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.item_time{
  font-size: 20px;
  line-height: 22px;
  position: relative;
  left: -20px;
  margin-left: 40px;
  height: 26px;
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: -22px;

    //background: url("../../images/gallery/clock.svg") no-repeat center;
    background-size: 60%;
    width: 22px;
    height: 22px;
  }
  &_small_device{
    font-size: 16px;
    color: #e1d8c9;
  }

}

.star{
  background: url("../../images/star.svg") no-repeat center;
  background-size: contain;
  animation-name: rotate_star;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate_star {
  from {transform:rotateY(0deg)}

  to {
    transform:rotateY(360deg)
  }
}

.li_item_time{
  border-top: 1px solid #999;
  display: flex;
  font-size: 12px;
  flex-direction: column;
  padding: 15px;
  &_small_device{
    padding-top: 10px;
  }
  &:hover{
    background-color: #0e0e0c;
  }
}

.available_item_time{
  font-size: 9px;
  min-width: 50%;
  &_small_device{
    margin: 8px 0 6px 0;
    font-size: 8px;
  }

}

.book_item_time{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .book_item_time {
    flex-direction: column;
    align-items: center;
  }
  .li_item_time{
    align-items: center;
  }
  .calendar_booking{
    animation-duration: 2s;
    animation-name: block-height-media ;
  }
}

@keyframes block-height-media {
  from {
    height: 0;
  }

  to {
    height: 415px;
  }
}

.button_book_small_device{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 55px;
  &_content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.booking_popup{
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255,255,255,0.3);
  z-index: 20;
  border:1px solid #373737;

  &_form{
    width: 38vw;
    max-width: 605px;
    min-width: 450px;
    height:500px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate( -50%, -50%);
    background-color: #202020;
    border-radius: 4px;
    color: #e1d8c9;

    &_wrap{
      width: 32vw;
      max-width: 520px;
      min-width: 350px;
      margin: 0 auto;
    }
  }

  &_Button_close{
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    background: none;
    border: none;

    &:hover{
      color: #fff;
    }
  }

    &_time:before{
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url("../../images/calendar_icon.svg") no-repeat;
      background-size: 20px 20px;
      margin-right: 20px;
    }
}

@media (max-width: 960px) {
  .booking_popup {
    &_form {
      min-width: 70vw;
      height: 490px;

      &_wrap {
        min-width: 90%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 600px) {
  .booking_popup {
    &_form {
      min-width: 90%;
    }
  }
}
