.contacts {
    background: url('../../images/road.svg');
    background-size: 200px 300px;
    background-repeat: no-repeat;
    background-position: bottom right;

    flex: 0 0 40%;
    
    font-size: 22px;


    &__link {
        text-decoration: none;
        margin-bottom: 20px;
    }

    &__info {
      margin-bottom: 20px;
    }
    
    &__list {
      display: flex;
      margin-top: 40px;
    }

    &__map {
      img {
        min-height: 425px;
      }
    }
  }

  .link {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 12px;
    border-radius: 50%;
    transition: all 1s linear;
    margin-right: 10px;
    margin-bottom: 10px;
    background: transparent;
  }