.contacts {
    background: url('../../images/road.svg');
    background-size: 200px 300px;
    background-repeat: no-repeat;
    background-position: bottom center;

    flex: 0 0 20%;
    
    font-size: 0.8em;

    color: #fff;

    &__link {
        color: #fff;
        text-decoration: none;
        margin-bottom: 20px;
    }

    &__info {
      margin-bottom: 20px;
    }
    
    &__list {
      display: flex;
      margin-top: 40px;
    }
  }

  .link {
    display: inline-block;
    width: 55px;
    height: 55px;
    color: #FFDC26;
    text-align: center;
    padding: 12px;
    border-radius: 50%;
    transition: all 1s linear;
    margin-right: 10px;
    margin-bottom: 10px;
    background: transparent;
    box-shadow: 0px 0px 78px 4px rgba(102, 102, 0, 0.73);
  }

  .footer {
    box-shadow: 0px 0px 78px 4px #333;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 0.7em;
    color: #FFDC26;
  }