.header {
    background-color: #242424;
    box-shadow: 0 4px 2px -2px #242424;
    padding: 10px;

    &__logo {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        position: absolute;
        top: 20px;
        left: 20px;

        @media only screen and (min-width: 580px)  {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            text-align: right;
            top: 70px;
            left: 20px;
        }

        span {
            color: #e9e84c;
        }

        img {
            max-width: 50px;
            margin: 20px;

            @media only screen and (min-width: 580px)  {
                transform: rotate(90deg);
            }
        }
    }
}
