nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar {
    &__burger {
        background: none;
        border: none;
        padding: 0;
    }

    &__link {
        margin: 10px;
    }

    &__link a {
        text-decoration: none;
    }
}

.frstbar,.scndbar,.thrdbar {
    transition: all 0.35s linear;
    transform: rotate(0deg);
}

  .icon.is-active .frstbar {
    transform: rotate(45deg);
    transform-origin: 44px 13px;
    transform:rotate(-45deg) translateY(0) translateX(0);
  }
  .icon.is-active .thrdbar {
    transform: rotate(-45deg);
    transform-origin: 41px 25px;
	transform:rotate(45deg) translateY(0em) translateX(0em);
  }
  .icon.is-active .scndbar {
    width: 0;
    opacity: 0;
  }