.image-location {
    mask-image: url(../../images/card-bg.svg);
    mask-repeat: round;
    background-size: contain;
    position: absolute;
    bottom: 80px;
}

.els {
    padding: 80px 0;
}

.element {
    z-index: 11;
}