@import url('https://fonts.googleapis.com/css?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

span {
  display: block;
}

button {
  border: none;
  outline: none;
}

.main-title {
  color: #fff;
  font-size: 45px;
  font-family: 'Poppins', sans-serif;
  padding: 1px;
}

.main-title--primary {
  color: #FFDC26;
  margin: 90px 0 auto;
}

.main-description {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  max-width: 700px;
  margin: 50px auto;
}

.bg {
  background: #242424;
}

.bg--yellow {
  padding: 10px 0 0;
}