@font-face {
  font-family: 'MontserratBold';
  src: url('/fonts/MontserratBold.woff2') format('woff2'),
       url('/fonts/MontserratBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MontserratLight';
  src: url('/fonts/MontserratLight.woff2') format('woff2'),
       url('/fonts/MontserratLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans-Light";
  src: url("/fonts/FiraSans-Light.woff") format("woff"),
       url("/fonts/FiraSans-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans-Bold";
  src: url("/fonts/FiraSans-Bold.woff") format("woff"),
       url("/fonts/FiraSans-Bold.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

img {
  max-width: 100%;
}

ul {
    padding: 0;
}
  
li {
    list-style: none;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;

    &--lg {
        max-width: 1700px;
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
  
.flex > * {
    flex: 1 0 12em;
    margin: 1em;

    @media (max-width: 700px) {
      flex: 1 0 10em;
      margin: 1em 0;
    }
}
  
@media (max-width: 700px) {
    .flex {
      flex-direction: column;
    }
}

  
  .test-bg {
    background: url(./images/horror-back.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
  }
  
  .logo-link {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    font-family: 'FiraSans-Bold', sans-serif;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;

    @media (max-width: 850px)  {
      right: 10px;
      top: 50px;
    }
  }
  
  .logo-link img {
    max-width: 50px;
    margin-left: 15px;
    @media (max-width: 850px)  {
      max-width: 40px;
    }
  }

  .wrap {
    overflow: hidden;
  }