
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

$parallax__amount: 2;
$parallax__layers: 8;

.banner {
    height: 100vh;
}
.parallax__stage {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;

    position: absolute;
    top: 0;
    left: 0%;
    right: 0;
    bottom: 0;
    background: #242424;
}

.parallax__layer {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
}

.last {
    display: flex;
}

.l3 {
    background-image: 
    url(../../images/l1.svg),
    url(../../images/l8.svg),
    url(../../images/l3.svg),
    url(../../images/l4.svg);
    background-position: bottom left, bottom right;
    background-repeat: repeat-x, no-repeat;

    @media only screen and (max-width: 800px)  {
        background-position: bottom left, bottom -80px right;
    }
}

.l4 {
    background-image: 
    url(../../images/l5.svg);
    background-position: bottom left,
    bottom right;
    background-repeat: repeat-x;
}

.l5 {
    background-image: 
    url(../../images/l6.svg);
    background-position: top;
    background-repeat: repeat-x;
}
.l6 {
    background-image: 
    url(../../images/l7.svg);
    background-position: center center;
}

@for $i from 0 through $parallax__layers {
    $x: ($parallax__layers - $i) / 2;
    .l#{$i}{
       transform: translateZ(-100 * $x#{px}) scale($x + 1);
    }
}

.box {
    width: 100%;
    position: relative;
    height: 100%;

  &.small {
    background-color: #86D0F2;
  }

  &.medium {
    background-color: #F4C4D5;
  }
}

.neon {
	position: absolute;
	text-align: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding:  0 20px;
	font-size: 3.2em;
	color: #fff;
    text-shadow: 0 0 20px #FFDC26;
    font-family: 'Montserrat', sans-serif;
    line-height: 1em;
}

.neon:after {
	content: attr(data-text);
	position: absolute;
	z-index: -1;
	color: #000;
	top: 0;
	left: 0;
	margin: 0;
	padding:  0 20px;
	filter: blur(15px); 
}
.neon:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFDC26;
	z-index: -2;
	opacity: .5;
	filter: blur(80px);
}
