@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,600&display=swap');

.banner {
    height: 600px;
    overflow: hidden;
    position: relative;

    &__layer {
      position: fixed;
      bottom: 0;
    }

    &__inner {
        position: fixed;
        height:auto;
        width:100%;
        left:0;
        top:0;
        bottom: 0;
        right: 0;
        overflow: visible;
    }

    &__moon,
    &__sun {
      position: relative;
    }

    &__fly {
      position: absolute;
      top: 0;
      left: 0;

      &--2 {
        top: -100px;
        left: 150px;
        transform: scale(1.8);
      }

      &--3 {
        position: absolute;
        top: 0;
        left: 400px;
        right: 100px;
        transform: scale(1.8);
      }
    }

    &__planet-list {
      position: relative;
      top: 100px;
    }

    &__planet {
      position: absolute;

      
      &--moon {
        top: -20px;
      }
    }

    &--main {
       min-height: 100vh;
    }

    &__title {
        position: relative;
        text-shadow: -15px 5px 20px #eff0f0,
        3px 4px 5px #000;
        color: #eff0f0;
        top: 250px;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: -0.05px;
        font-family: 'Montserrat Alternates', sans-serif;
        user-select: none;
        font-size: 65px;
        transition: all 0.25s ease-out;
        text-align: center;
        z-index: 100;
        max-width: 45%;
        line-height: 65px;
        text-align: center;

        &:hover {
          text-shadow: -16px 6px 15px #ced0d3;

        }

        @media(max-width: 950px) {
            max-width: 100%;
            font-size: 35px;
            line-height: 35px;
            top: 214px;
            margin: 0;
        }

        &--main {
            top: 290px;

            @media(max-width: 950px) {
                max-width: 100%;
                font-size: 35px;
                line-height: 35px;
                top: 250px;
                margin: 0;
            }
        }
    }



}

.box {
    width: 100%;
    position: relative;
    height: 100%;

  &.small {
    background-color: #86D0F2;
  }

  &.medium {
    background-color: #F4C4D5;
  }
}

.small-devices {
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #424242;

  &--dark,
  &--light {
    background:
    url(../../images/mobile-banner-2.png),
    url(../../images/mobile-banner-3.png),
    url(../../images/mobile-banner-4.png);
    background-size: auto 300px, auto 500px, 300px auto;
    background-position:
    bottom 70px center,
    bottom 70px center,
    bottom 70px right -150px;
    background-repeat: no-repeat;
  }
}

.l3 {
  right: 0;
  z-index: 20;
}

.l-man {
  right: 0;
}

.part02,
.part03, 
.part04,
.part05 {
    z-index: 20;
}

.none {
    display: none;
}