.banner, 
.banner__layer {
    height: 100vh;
    overflow: hidden;
}

.banner {
	  position: relative;
    z-index: 10;
    background-color: #242424;
    overflow: hidden;

    &__layer {
        width: 100%;
        position: absolute;    
        will-change: transform;
    }
}

.banner__layer.parallax {
    position: fixed;
    overflow: hidden;
}

.l {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}

.l1 {
    background-image: url(../../images/l1.svg);
    background-repeat: repeat-x;
    background-size: auto 300px;
    background-position: bottom center;
    height: 100vh;
    z-index: 50;
}

.l2 {
    background-image: url(../../images/l2.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.l3 {
    background-image: url(../../images/l3.svg);
    background-size: auto 500px;
    background-position: bottom center;
    background-repeat: repeat-x;
    height: 100vh;
}

.l4 {
    background-image: url(../../images/l4.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 400px;
    background-repeat: repeat-x;
    background-position: bottom center;
}

.l5 {
    background-image: url(../../images/l5.svg);
    background-repeat: no-repeat;
    background-size: auto 500px;
    background-position: bottom right;
}

.l7 {
    background-image: url(../../images/l7.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.l8 {
    background-image: url(../../images/l8.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 600px;
}

.l10, .l11, .l12, .l13{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left 150px;
  background-size: auto 400px;
}

.l10 {
  background-image: url(../../images/moon.svg);
  background-size: 500px;
  // background-size: 200px;
}

.l11 {
  background-image: url(../../images/bat1.svg);
}

.l12 {
  background-image: url(../../images/bat2.svg);
}

.l13 {
  background-image: url(../../images/bat3.svg);
}

.box {
    width: 100%;
    position: relative;
    height: 100%;

  &.small {
    background-color: #86D0F2;
  }

  &.medium {
    background-color: #F4C4D5;
  }
}

.neon {
	position: absolute;
	text-align: center;
	top: 200px;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding:  0 20px;
	font-size: 2.5em;
	color: #fff;
    text-shadow: 0 0 20px #FFDC26;
    font-family: 'FiraSans-Light', sans-serif;
    font-weight: 500;
    line-height: 1em;
    z-index: 150;
}

.neon:after {
	content: attr(data-text);
	position: absolute;
	z-index: -1;
	color: #000;
	top: 0;
	left: 0;
	margin: 0;
	padding:  0 15px;
	filter: blur(15px); 
}

.neon:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFDC26;
	z-index: -2;
	opacity: .3;
	filter: blur(80px);
}

.small-devices {
  min-height: 400px;
  background: url(../../images/mobile-banner.webp),
  url(../../images/mobile-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
